@{
    ViewBag.Title = "Productos";
}

<h2>PRODUCTOS</h2>


@using (Html.BeginForm())
{
@Html.AntiForgeryToken()
<div>
    <input type="checkbox" name="producto"
           class="form-control"
           value="Fifa 18" style="float:left; width:50px;" />
    <img src="~/Images/fifa18.png" height="200" width="150" />
    <label>Fifa 18</label>
</div>
<hr />
<div>
    <input type="checkbox" name="producto"
           class="form-control"
           value="Pes 18" style="float:left; width:50px;" />
    <img src="~/Images/pes18.jpg" height="200" width="150" />
    <label>PES 18</label>
</div>
<hr />
<div>
    <input type="checkbox" name="producto"
           class="form-control"
           value="Gran turismo 4" style="float:left; width:50px;" />
    <img src="~/Images/granturismo.jpg" height="200" width="150" />
    <label>Gran turismo 4</label>
</div>
<br />
<div>
    <button type="submit" class="btn btn-success">
        Comprar productos
    </button>
</div>
}

@*<form method="post">
        <div>
            <input type="checkbox" name="producto"
                   class="form-control"
                   value="Fifa 18" style="float:left; width:50px;"/>
            <img src="~/Images/fifa18.png" height="200" width="150"/>
            <label>Fifa 18</label>
        </div>
        <hr />
        <div>
            <input type="checkbox" name="producto"
                   class="form-control"
                   value="Pes 18" style="float:left; width:50px;" />
            <img src="~/Images/pes18.jpg" height="200" width="150" />
            <label>PES 18</label>
        </div>
        <hr />
        <div>
            <input type="checkbox" name="producto"
                   class="form-control"
                   value="Gran turismo 4" style="float:left; width:50px;"/>
            <img src="~/Images/granturismo.jpg" height="200" width="150"/>
            <label>Gran turismo 4</label>
        </div>
        <br />
        <div>
            <button type="submit" class="btn btn-success">
                Comprar productos
            </button>
        </div>
    </form>*@
